.listado {
  width: 50%;
  position: absolute;
  height: 50%;
  right: 0px;
  z-index: 0;

}

#lista {
 border-left:1px solid #00a168;

 padding: 20px;

 display:none;
width: 100%;
float:left;
margin-top: 20px;



}

.user_list {
 
  font-size: .75em;
  color: #0086bd;
width: 100%;
 border-bottom:1px solid #565656;
  float:right;
  font-weight: bold;

  margin-bottom: 5px;
  min-height: 20px;
  display:flex;
  justify-content: space-between;
}
.borro{ width: 10px; 
  height: 10px; 

  background:#FFd100;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

   }
   