nav{
    width: 200px;
    height: 100px;
    background-color:  #00a168;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    margin-top:20%;
   
   
}
.triangle_up{
   
    width: 0;
    height: 0;
    margin-left:auto;
    margin-right:auto;
   padding-top: 18px;
    border-right:25px solid transparent;
  
    border-left:25px solid transparent;
    border-bottom:25px solid#c20233;
}
.triangle_down{
   
    width: 0;
    height: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    border-right:25px solid transparent;
    border-top:25px solid #0086bd;
    border-left:25px solid transparent;

}
.links{
   
    display:flex;
    justify-content: space-between;
    padding:8px 8px;
  
     bottom:0px ;
    width: 100%;
}
a{
    font-size: 0.7em;
 text-decoration: none;

width: 80px;
text-align: center;
padding: 3px 0px;
border-radius: 5px 5px 0px 0px;
}
.login_a {
    background-color:gold;
  
}
.register_a {
    background-color:white;
  
}