nav{
    width: 200px;
    height: 100px;
    background-color: #0086bd;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    margin-top:20%;
   
}
.triangle_up{
   
    width: 0;
    height: 0;
    margin-left:auto;
    margin-right:auto;
    
    border-right:25px solid transparent;
    border-top:25px solid transparent;
    border-left:25px solid transparent;
    border-bottom:25px solid#c20233;
}
.triangle_down{
   
    width: 0;
    height: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    border-right:25px solid transparent;
    border-top:25px solid #00a168;
    border-left:25px solid transparent;

}
.links{
   
    display:flex;
    justify-content: space-between;
    padding:0px 15px;
     
    width: 100%;
}
a{
 font-size: 0.8em;
 text-decoration: none;
color: gold;
}