.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid white;
    margin-left: 5.5px;
    float:left;

  }
  .arrow-right-green {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #00B7EF;
    margin-left: 5.5px;
    float:left;

  }
  .arrow-left-pink {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid  #FF6699;
  
    float:left;

  }
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid white;
    float:left;
  }
  .cont{

    float:left;
    position: absolute;
    margin-top:0px;
    z-index: 2;
    margin-left: 67px;

   
  }
  .cont1{
   
    float:left;
    position: absolute;
    margin-top: 67px;
    margin-left: 134px;
    z-index: 3;

   
  }
  .cont2{
   
    float:left;
    position: absolute;
    margin-top: 134px;
    margin-left: 67px;
    z-index: 4;
 
   
  }
  .cont3{
   
    float:left;
    position: absolute;
    margin-top: 67px;
    margin-left: 0px;
    z-index: 4;

   
  }

  .central{

    position: absolute;
   top: 50%;
   left: 50%;
   width:264px;

   margin-left: -130px;
   margin-top: -128px;
  height:256px;
  text-align: center;
  
  }

  .main-menu{
   
      height: 35px;
      position: fixed;
   bottom: 1px;
      padding: 0;
      width: 100%;
     
  }
  ul {display:flex;
    justify-content: space-between;
 
    padding: 0 10px;
}
  li{     width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid white;
    text-align: center;


  }
  li a{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
  
    text-decoration: none;
  
  }