<app-creacion (datoExportar)="anyadirTarea($event)"></app-creacion>

<div class="central">

  <div class="cont">
    <div class="arrow-left-orange "></div>
    <div class="arrow-right-grey "></div>
  </div>

  <div class="cont1">
    <div class="arrow-left-pink"></div>
    <div class="arrow-right"></div>
  </div>
  <div class="cont2">
    <div class="arrow-left-grey"></div>
    <div class="arrow-right-green "></div>
  </div>

  <div class="cont3">
    <div class="arrow-left "></div>
    <div class="arrow-right-blue"></div>
  </div>

</div>






<router-outlet></router-outlet>
