.name {
  color: #0086bd;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #87858545;
height: 10px;

padding:3px 0px;
box-sizing: content-box;

}
.name:hover{
   background: rgba(193, 193, 193, 0.393);

}
.true{

  display:block;
}

.false {
 
  display:none;
}
.borrar {
  width: 10px;
  height: 10px;
  background: #FFd100;
}

.tasks {
 
  color: #808080;
  font-size: 0.7em;
  font-weight: normal;
  margin-top: 2px;
  display:block;
 
}
.input {
   color:#969696af;
  width: 100%;
  border: none;
  padding-left: 7px;
  padding-bottom: 7px;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.4);
  display:block;
  

  
}

input:focus{
	outline:0px;
}

::placeholder{
   color:#686868af;
   
}
.prueba{
  display:none;
}